
{% extends 'base.html' %}
{% block content %}
    <p>{{ todos|length }} Titles</p>

    <form method="post">
        Title <input type="text" name="title" autocomplete="off" required>
        Type <input type="text" name="type" autocomplete="off" required>
        <input class="btn" type="submit" name="submit" value="Add">
</form>

    <ul class="todo-list">
        {% for todo in todos %}
            <li>
                {{ todo.title }} - {{ todo.type }}
                <span class="float-right">
                    <a class="btn" href="{{ url_for('edit', todo_id=todo.id) }}">Edit</a>

                    <form class="inline-form" method="post"
                          action="{{ url_for('delete', todo_id=todo.id) }}">
                            <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                    </form>
                    <a class="dian" target="_blank" >典藏</a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
